* {
  box-sizing: border-box;
  font-family: 'Microsoft YaHei';
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, p, table, th, td, select, option {
  padding: 0;
  margin: 0;
  list-style: none;
}


.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.App-aside {
  background-color: #222;
  height: 100%;
  width: 200px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-aside-header{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
}
.App-aside-list>li{
  width: 100%;
  padding:0 12px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  font-weight: bold;
}
.App-aside-list>.active{
  background: #333;
}